{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
                URL Shortner
            {% endblock title %}
        </title>
        {% bootstrap_css %}
    </head>
    <body>
        {% include "includes/navbar.html" %}

        {% block content %}

        {% endblock content %}
    </body>
    {% bootstrap_javascript %}
</html>